<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />
<!-- will create the list for each author where we show the names and buttons to view/edit/delete -->
<% authors.forEach(author => { %>
<div class="author-row">
  <div class="author-name"><%= author.name %></div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <!-- doing it this way means that though it is a POST the _method will get used instead and this will end up calling our router delete. This is because we set up _method inside of the server.js file as a method override with the method-override library -->
    <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
  </div>
</div>
<%}) %>
